.HireMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  background-color: rgb(10, 18, 42);
  margin: 10px;
  border-radius: 23px;
  height: 78vh;
  padding: 10px;
}

.hire-me-header {
  background-color: rgb(232, 235, 247);
  margin: 10px;
  border-radius: 23px;
  padding: 10px;
}

.hire-me-story {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 235, 247);
  margin: 10px;
  border-radius: 23px;
  padding: 10px;
}

.hire-me-story p {
  margin: 10px;
}

.profile-pic {
  height: 25vh;
  width: auto;
}
