.Main {
  margin: 25px;
  padding: 10px;
  background-color: rgb(10, 18, 42);
  border-radius: 23px;
  box-shadow: 2px 2px 5px black;
}

.main-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
}

@media only screen and (min-width: 1200px) {
  .main-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* Smaller Screen Break Points */
@media only screen and (max-width: 768px) {
  .main-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
